{# src/Heebari/dataBundle/Resources/views/result.html.twig #}
{% extends "@template/Template.html.twig" %}
{% block content %}
    <div class="article col-lg-10 col-xs-10">
        <div class=" title_article"><h4>{% block titre %}    {% endblock titre %}</h4></div>
        <div class="row">
            {% block resultat %} 

            {% endblock resultat %} 
        </div>
        <div class="col-lg-2 col-xs-12 section_description">
            {{ parent()}}
        </div>
    </div>

{% endblock content %}
