{# src/Heebari/dataBundle/Resources/views/result.html.twig #}
{% extends "@template/Template.html.twig" %}
{% block content %}
    <div class="article col-lg-9 col-xs-9">
            dcdscsdv
        {{parent()}}
    </div>
    <br>
    <br>
    
{% endblock content %}


