{# src/Heebari/dataBundle/Resources/views/result.html.twig #}
{% extends "@template/result.html.twig" %}
{%block titre %}
    <h2>{{ valeur | lower }} : {{ group1 | raw }} </h2>
{% endblock titre %}
{% block resultat %}
    
    <strong style="margin-left: 200px"> </strong>
    
{% endblock resultat %}
{% block Script %} 
    <script src="{{ asset('bundles/Heebaridata/Script/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Heebaridata/Script/scripts.js') }}" type="text/javascript"></script>
{% endblock Script %}

