
/* 
    Created on : 14 juil. 2016, 07:34:39
    Author     : HassanTheCode
*/
.navbar-inverse {
    background-color: #306a8a;
    /* border-color: #080808; */
}
.navbar-inverse 
.navbar-nav>.active>a,
.navbar-inverse 
.navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #749fea;
    /* height: 100%; */
}
@media (min-width: 768px){
.navbar-nav>li>a {
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    /* position: absolute; */
    margin-top: 8px;
    margin-left: 27px;
}
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    /* border: 1px solid transparent; */
    box-shadow: 1px 1px 1px;
    border: none !important;
}

.main-block .navbar .navbar-nav li a{
    height: 59px;
    margin-top: 0px;
    padding-top: 21px;
    padding-bottom: 0px;
}
